.App {
  text-align: center;
  /* background: url(./assets/images/apple-desk.jpg); */
}

.user-list {
  text-align: left;
  margin: 20px;
}

/*  Log In and Registration Page*/
.login-register {
  background: url(./assets/images/bgimg3.jpg);
  z-index: -1;
  width: 100%;
  height: -webkit-fill-available;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.8;

}

.lr-forms .ui.segment:first-child {
  margin: auto;
  margin-top: 20%;
  max-width: 300px;
}

.ui.message:last-child {

  margin: auto;
  margin-top: 10px;
  max-width: 300px;
}


/* End Long In & Registration */




/* TESTINg With boarders */
.user-map {
  border: 1px solid black;
  margin: auto;
  min-width: 95%;
  min-height: 800px;
}

.posts {
  border: 1px solid black;
  overflow: scroll;
  max-height: 600px;
}

.users {
  border: 1px solid black;
  overflow: scroll;
  max-height: 600px;
}

.profile {
  border: 1px solid black;
}

.profile-sec {
  overflow: scroll;
  min-height: 500px;
}

.dimable-div {
  overflow: scroll;
  min-height: 500px;
}

/* .home-banner {
  background: url(./assets/images/apple-devices.jpg);
  z-index: -1;
} */
.home-banner {
  background: url(./assets/images/apple-devices2.jpg);
  z-index: -1;
  width: 100%;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* text-align: center; */
  opacity: 0.8;
  margin: auto;
  padding-bottom: 5em;
}

.header-text {
  background-color: rgba(255,255,255,0.7);
  padding-bottom: 15px;
}


/* .arrows {
  border: 0px;
} */


/* TESTINg With boarders */






.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 55px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
