body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.sidebar {
  float: left;
  background: #343638;
  color: white;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}
.active {
  background: #4e6ce5;
}
